/*
    /////////////////////////////////////////////////// INICIO HEADER ///////////////////////////////////////////////////
*/

/* // //////////////////// // */
/* //        TÍTULO        // */
/* // //////////////////// // */

header{
    background-color: rgb(112, 233, 233);
    color: rgb(0, 0, 0);
}

/* // //////////////////// // */
/* //        LOGO          // */
/* // //////////////////// // */

/*
Contenedor de imágenes
*/
.ContenedorLogo{
    position: relative;
    width: 100%;
    max-width: 200px;
}

#logo{
    position: relative;
    width: 75%;
    left: 25%;
}

/* // //////////////////// // */
/* //    INICIO SESIÓN     // */
/* // //////////////////// // */

.InicioSesion{
    position: absolute;
    top: 1%;
    right: 5%;
    width: 100%;
    max-width: 200px;
    padding: 0;
}

.InicioSesion label{
    margin-bottom: 1%;
}

.InicioSesion input{
    margin-bottom: 1%;
}

#alta{
    color:rgb(0, 0, 0);
}

/* // //////////////////// // */
/* //       NAVEGADOR      // */
/* // //////////////////// // */

/*
La siguiente sección se corresponde con la barra de navegación entre las distintas páginas
*/

.Navegador{
    width: 100%;
}

ul{
    list-style-type: none;
    margin: 0;

    overflow: hidden;
    background-color: #333;
    
    text-align: center;
  }
  
   li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%; 
  }
  
  li a {
    color: white;
    text-decoration: none;

    display: inline-block;
    text-align: center;

    padding: 14px 16px;
    font-size: 100%;
  }
  
  nav ul li a:hover:not(.actual) {
    background-color: #111;
  }

  .actual{
    color: #111;
    background-color: aquamarine;
  }

/*
        /////////////////////////////////////////////////// FIN HEADER ///////////////////////////////////////////////////
*/

/*
        /////////////////////////////////////////////////// INICIO BODY ///////////////////////////////////////////////////
*/ 
body{
    margin: 0;
    background-image: url("imagenes/Fondo2.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

/*
/////////////////////////////////////////////////// FIN BODY ///////////////////////////////////////////////////
*/

/*
/////////////////////////////////////////////////// INICIO FOOTER ///////////////////////////////////////////////////
*/

footer {
    background-color: rgb(112, 233, 233);
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
    position: fixed;
    padding: 0; 
    bottom: 0; /*Para indicarle que va abajo*/
    width: 100%;
}
/*
/////////////////////////////////////////////////// FIN BODY ///////////////////////////////////////////////////
*/