body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4a742;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline; /* Esto es válido, pero preferiblemente puedes usar "inline-block" para tener más control sobre el tamaño y el espaciado */
    margin-right: 20px;
}

nav ul li a { /* Selecciona los enlaces dentro de los elementos li */
    color: white; 
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
